body {
  --headingColor: #231f20;
  --textColor: #7b7979;
  font-family: "poppins";
  text-align: left;
  --white: #ffffff;
  --black: #231f20;
  --black60: rgba(35, 31, 32, 0.6);
  --D3D3D3: #d3d3d3;
  --F3F3F3: #f3f3f3;
  --00BED6: #00bed6;
  --0075C9: #0075c9;
  --071D49: #071d49;
  --707070: #707070;
  --70707066: #70707066;
  --headerSpace: 6.313em;
  --PO: "Poppins";
  font-family: var(--PO);
}

.common-section {
  width: 90%;
  margin: 0 auto;
  /* height: 28em; */
  padding-right: 1em;
  margin-bottom: 1em;
}

.atlas-edge-offer-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  align-items: center;
  padding: 2em;
}

#atlas-edge-offer-wrapper {
  display: flex;
  justify-content: space-around;
  align-self: flex-start;
  align-items: flex-start;
}

.atlas-edge-offer-content {
  width: 50%;
  padding: 1em;
  margin: 1em;
  padding-top: 0;
  line-height: 1.7;
}
#second-content{
  width: 40%;
  padding: 3em;
  padding-top: 0;
  margin: 1em;
  line-height: 1.7;


}

#second-content>h3 {
  font-size: 1.8em;
  font-family: var(--PO);
  font-weight:bold 900;
  margin-top:0;
  line-height: 1.7;
}

#second-content>article {
  font-size: 0.888em;
  opacity: 100%;
  font-family: var(--PO);
  font-weight: semibold 400;
  color: var(--textColor);
}
.atlas-edge-offer-content h3 {
  font-size: 1.8em;
  font-family: "poppins";
  font-weight: bold 900;
  opacity: 100%;
}

.atlas-edge-offer-content article {
  font-size: 0.888em;
  color: var(--textColor);
  font-weight: bold 400;
}
.button-section{
  padding:0 3em;
  margin-left: 1em;
  position: relative;
  bottom: 100px;
}
.button-section>button{
  padding: 1em;
  font-size: 0.888em;
  font-weight: bold 400;
  color: white;
  background-color: #071d49;
  border-radius: 5px;
}

.atlas-edge-video-wrapper{
  width: 90%;
  border-radius: 10px;
  margin: 0 auto;
  overflow: hidden;
}
.atlas-edge-video-wrapper>.react-player{
  width: 100%;
  display: block;
  margin: auto;
}



@media all and (max-width: 896px) {
  .atlas-edge-offer-wrapper{
    width: 88%;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    padding-left: 0.8em;
  }
  .atlas-edge-offer-content {
  width: 100%;
  padding: 1em;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  margin-bottom: 1em;
  text-align: center;
}
 #second-content{
  width: 90%;
  padding: 1em;
  margin: 0;
  padding: 0;
  margin: 1em;
  line-height: 1.7;
  text-align: center;

 }
 #atlas-edge-offer-wrapper{
   flex-direction: column;
 }

  .atlas-edge-video-wrapper{
    width: 90%;
  }
  .common-section {
    width: 100%;
    margin: 0;
    overflow-x: hidden;
  }
}

@media all and (max-width: 1280px) {
  #atlas-edge-video-wrapper{
    margin-top: 3em;
    width: 100%;
    padding: 1em;
    display: block;
    margin: auto;
  }
}

@media screen and (min-width:1024px) and (max-width:1366px) {

  .atlas-edge-offer-wrapper{
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
  }
   .atlas-edge-offer-content {
  width: 100%;
  padding: 1em;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  line-height: 1.7;
  margin-bottom: 3em;
}

 #atlas-edge-offer-wrapper{
   flex-direction: column;
   align-items: center;
   font-size: 1.5em;
 }
  
 #second-content{
  width: 90%;
  padding: 1em;
 }

}


@media screen and (min-width:912px) and (max-width:1368px) {

  .atlas-edge-offer-wrapper{
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
  }
   .atlas-edge-offer-content {
  width: 100%;
  padding: 1em;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  line-height: 1.7;
  margin-bottom: 3em;
}

 #atlas-edge-offer-wrapper{
   flex-direction: column;
   align-items: center;
   font-size: 1.5em;
 }
  
 #second-content{
  width: 90%;
  padding: 1em;
 }

}
