#main-wrapper {
  width: 90%;
  height: 35em;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2em;
  padding: 1em;
  align-content: center;
}

#main-wrapper > .content-wrapper {
  width: 45%;
}

#main-wrapper > .content-wrapper > h3 {
  font-size: 1.5em;
  margin: 0;
  font-weight: bold 400;
  opacity: 100%;
}

#main-wrapper > .content-wrapper > img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

#main-wrapper > .content-wrapper > a {
  color: #707070;
  opacity: 100%;
  font-weight:bold 300;
  border-bottom: 1px solid #707070;
  font-size: 1em;
}

hr{
    border: 1.5px solid #707070;
}

#main-wrapper > .content-wrapper > a:hover {
  color: #00bed6;
}



@media all and (max-width: 52.75em) {

  #main-wrapper {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
    padding: 0;
  }

  #main-wrapper > .content-wrapper {
    width: 90%;
    margin: 0;
    padding: 0;
  }
    
}


@media  screen and (min-width:912px) and (max-width:1366px) {
    #main-wrapper {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin: 0;
    padding: 0;
  }

  #main-wrapper > .content-wrapper {
    width: 90%;
    margin: 0;
    padding: 0;
  }

  #main-wrapper > .content-wrapper > h3 {
    font-size: 2em;
  }
    
}